body{ background-color:#FFF;font-family:Verdana;font-size:12px;line-height:1.2}

div.formLeft {
    width: 170px;
    padding-top: 4px;
    float: left;
    text-align: right;
    padding-right: 5px;
}

div.formLeft label.orange_title {
    float: right;
}

div.formLeft label.orange_title {
    float: right;
}
div.formRight {
    float: left;
    width: 370px;
    min-height: 25px;
}
.left {
    float: left;
}
.cur {
    _cursor: hand;
    cursor: pointer;
}

.orange_title {
    color: #f60;
    font-weight: bold;
    font-size: 14px;
    display: inline;
    float: left;
    padding-bottom: 4px;
}

div.selectaTrigger {
    font-weight: bold;
    height: 20px;
    background: url(../images/myselect.gif) no-repeat top right;
    border-left: 1px solid #000;
    padding-right: 30px;
    padding-left: 5px;
    padding-top: 5px;
    overflow: hidden;
}

select.selecta {
    height: 25px;
}

div.selectaWrapper {
    border: 1px solid #000;
    border-top: 0;
    position: absolute;
    z-index: 10000;
    background: white;
    overflow: hidden;
    overflow-y: auto;
}
div.selectaOption {
    padding: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-bottom: 1px solid #eee;
    clear: both;
}
div.selectaOptionSelected {
    background: #ffffcf;
}
div.selectaDisabled {
    background: #555;
    color: #000;
}
div.selectaOptionOver {
    background: yellow;
}

div.selecta2 {
    background: url(../images/select-right.png) no-repeat right center;
    font-weight: bold;
    height: 18px;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 20px;
    overflow: hidden;
    color: white;
}

div.selecta2Wrapper {
    border: 1px solid #b6b7bf;
    border-top: 0px;
    padding: 2px;
    background: #f2f2f2;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
}

div.selecta2Option {
    padding: 2px;
    padding-left: 4px;

    clear: both;
    background: #fff;
    color: #555;
    font-weight: bold;
}

div.selecta2OptionSelected {
    background: #666;
    color: #ffffcf;

}
div.selecta2OptionOver {
    background: #444;
    color: #ffffcf;
}



.shadowy {
    -moz-box-shadow: 1px 1px 2px #000;
    -webkit-box-shadow: 1px 1px 2px #000;
    box-shadow: 1px 1px 2px #000;
}

#debug {
    background: red;
    color: yellow;
    padding: 5px;
    margin: 5px;
}